<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
    <script src="javascripts/jquery.min.js"></script>
    <script src="javascripts/highcharts.js"></script>

</head>
<body>
<div>
    <ol class="breadcrumb input-lg">
        <li><a href="http://127.0.0.1:3000/">Java</a></li>
        <li class="active">Android</li>
        <li><a href="http://127.0.0.1:3000/iOS">iOS</a></li>
        <li><a href="http://127.0.0.1:3000/nodejs">Node.js</a></li>
        <li><a href="http://127.0.0.1:3000/frontend">前端</a> </li>
        <li><a href="#">About</a> </li>
    </ol>
</div>
<%include androidData.ejs%>
</body>
</html>