<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" href="stylesheets/bootstrap.min.css">
  <script src="javascripts/jquery.min.js"></script>
  <script src="javascripts/highcharts.js"></script>

</head>
<body>
<%include nav.ejs%>
<%include java.ejs%>
</body>
</html>