<div>
    <ol class="breadcrumb input-lg">
        <li class="active">Java</li>
        <li><a href="http://127.0.0.1:3000/android">Android</a></li>
        <li><a href="http://127.0.0.1:3000/iOS">iOS</a></li>
        <li><a href="http://127.0.0.1:3000/nodejs">Node.js</a></li>
        <li><a href="http://127.0.0.1:3000/frontend">前端</a> </li>
        <li><a href="#">About</a> </li>
    </ol>
</div>